
  .grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
	padding: 20px;
  margin-top:20px;
}
.grid-item {
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	overflow: hidden;
	text-align: center;
    padding-bottom: 10px;
	img {
		width: 100%;
		height: 500px;
		object-fit: cover;
        transition: all .5s ease;
        &:hover{
            transform: scale(1.05);
        }
	}
	h3 {
		margin: 4px 0;
		font-size: 1.2rem;
	}
	p {
		margin-top: 5px;
		font-size: 1rem;
		color: #888;
	}
}
  
// GRID LOGOS
$grid-gap: 1rem;

.logos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: $grid-gap;
  justify-items: center;
  align-items: center;
  margin:20px 20px;

  .logo-item {
    width: 100%;
    max-width: 200px;
    img {
        height: 100px;
        width: 150px;
        transition: all .5s ease-in-out;
        &:hover{
            transform: scale(1.5);
        }
    }
  }
}
